@media(max-width: 768px) {
    .header {
        font-size: 32px;
    }

    .header .subtitle {
        font-size: 16px;
        text-align: center;
    }

    .card-header {
        font-size: 16px;
    }
    
    .code-grid {
        background-color: orange;
        flex-direction: column;
    }

    .code-card {
        width: 100%;
    }

    .form-group .btn-magic {
        font-size: 6px;
        padding: 12px 16px;
    }
}